div {
	background-color: #fb90b7;
	border-radius: 10px;
	padding: 10px;
}
.add-expense-container {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
}

li{
list-style-type: none;
}

.delete-button{
	background-color: white;
	padding: 0.5rem;
	font-size: 0.8rem;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 2px;
}

.delete-button:hover{
	background-color: rgb(181, 92, 186);
}