
.error {
	display: flex;
	flex-direction: column;
	color: red;
	font-size: 12px;
	margin-top: 4px;
 }

 label {
	display: flex;
	flex-direction: column;
 }

 .submit-button {
	background-color: white;
	margin: 12px;
	font-size: 1rem;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 2px;
 }

 .submit-button:hover{
	background-color: #485b54;
}

option {
	background-color: white;
}