.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 20px solid #485b54;  
}

h1{
 margin-bottom: 30px;
}

h2{
  display: flex;
  justify-content: center;
  padding: 30px;
  border: 1px solid black;
}

form {
  font-family: inherit;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input, select, button {
  font-family: inherit;
  padding: 8px;
  font-size: 16px;
}



@media (max-width: 768px) {
  
  form {
    flex-direction: column;
    align-items: center;
  }

}

