
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #485b54;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;  
}


@media (max-width: 768px) {
  body {
    margin-top: 20px; 
  }
}



